<h2><%= secao.icone %> <%= secao.nome %></h2>

<% if (posts.length === 0) { %>
  <p>Essa seção ainda não possui nenhum conteúdo.</p>
<% } else { %>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <strong><%= post.titulo %></strong><br>
        <small><%= post.descricao %></small>
      </li>
    <% }) %>
  </ul>
<% } %>
