/* =========================
   ANIMAÇÕES ON SCROLL
========================= */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.left {
  transform: translateX(-40px);
}

.reveal.right {
  transform: translateX(40px);
}

.reveal.left.active,
.reveal.right.active {
  transform: translateX(0);
}
